/* General Styles */
img {
  display: block;
  max-width: 100%;
}

body {
  background: #171717;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #00de71;
}

.section_title {
  text-align: center;
}

.section_title .title h2 {
  color: #00de71;
  font-family: "new_rocker_regular";
  font-size: 4.5em;
  text-transform: uppercase;
}

.section_title .subtitle {
  font-family: "im_fell_english_regular";
  font-size: 1.125em;
  color: #fff;
  opacity: 0.4;
  text-transform: initial;
}

.section_title_light {
  text-align: center;
}

.section_title_light .title h2 {
  color: #fff;
  font-family: "new_rocker_regular";
  font-size: 4.5em;
  text-transform: uppercase;
}

.section_title_light .subtitle {
  font-family: "im_fell_english_regular";
  font-size: 1.125em;
  color: #171717;
  opacity: 0.4;
  text-transform: initial;
  margin-top: 10px;
}

/* Header */
.header {
  width: 100%;
  height: 500px;
  background: url("../assets/images/cover.jpg");
  background-size: cover;
  text-align: center;
  border: 10px solid #171717;
}

.band_names {
  color: #fff;
  font-family: "im_fell_english_regular";
  font-size: 1.875em;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 60px;
}

.band_names .separator_names {
  font-family: "im_fell_english_italic";
}

.band_names li {
  display: inline-block;
  margin: 0 20px;
}

.header img {
  width: 550px;
  margin: 0 auto;
  padding-top: 40px;
}

.menu {
  color: #fff;
  font-family: "im_fell_english_regular";
  font-size: 1.875em;
  line-height: 30px;
  margin-top: 40px;
}

.menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.menu ul li a {
  color: #fff;
  transition: 0.3s;
}

.menu ul li a:hover {
  color: #00de71;
}

/* Shows */

.schedule {
  margin-top: 20px;
}

.schedule_item {
  font-family: "im_fell_english_regular";
  color: #fff;
  opacity: 0.4;
}

.schedule_item .schedule_item_date {
  font-size: 2.25em;
  text-align: left;
}

.schedule_item .schedule_item_place {
  font-size: 1.5em;
  text-align: center;
}

.schedule_item {
  padding: 15px 0;
}

.schedule_item_divider {
  border-top: 3px solid #747474;
}

.schedule_item .schedule_item_info {
  text-align: right;
}

.schedule_item .schedule_item_info p a {
  font-size: 1.5em;
  color: #fff;
}

.schedule_item .schedule_item_info p a:hover {
  color: #00de71;
}

.more_show {
  color: #00de71;
  opacity: 0.4;
  font-family: "im_fell_english_regular";
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0 60px 0;
}

.more_show p::after {
  content: "";
  width: 120px;
  height: 3px;
  background: #00de71;
  display: block;
  margin: 0 auto;
}

.more_show p::before {
  content: "";
  width: 120px;
  height: 3px;
  background: #00de71;
  display: block;
  margin: 0 auto;
}

/* Albuns */
.albuns {
  width: 100%;
  background: #00de71;
}

.album_list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.album_item p {
  padding-left: 80px;
  font-family: "im_fell_english_regular";
  color: #fff;
  font-size: 1.125em;
}

/* Contact */
.social_networks {
  margin: 40px 0;
}

.social_networks ul li {
  display: inline-block;
  margin: 0 5px;
}

.social_networks ul li p {
  font-family: "new_rocker_regular";
  color: white;
  font-size: 4.5em;
}

.social_networks ul li .separator {
   margin-top: -40px;
}

/* Footer */
.footer {
  padding: 20px 0;
  background: #2d2d2d;
  font-family: "new_rocker_regular";
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.shinodalabs a {
  color: #fff;
  transition: 0.3s;
}

.shinodalabs a:hover {
  color: #00de71;
}
